#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main{
  display: flex;
  justify-content: center;
}

.container{
  width: 50vw;
  border:1px solid black;
  padding: 10px;
  padding-bottom: 20px;
}

.buttons{
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}

.buttons button{
  font-size: 17px;
  border-radius: 6px;
  padding: 6px;
  width: 80px;
}

.container h3{
  font-family: sans-serif;
  margin-top: -1px;
  background-color: lightblue;
  color: rgb(87 87 87);
  letter-spacing: 2px;
  padding: 10px;
  font-size: 26px;
  text-align: center;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
}

.gallery img{
  width: 90px;
  object-fit: cover;
  height: 90px;
}