*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    display: flex;
    align-items: center;
    padding: 10px;
    width: 50vw;
    justify-content: space-between;
    background-color: white;
}

h3, p, h1{
    color: black;
}