*{
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.generate_div{
  border-radius: 7px;
  box-shadow: rgba(0,200,200,200.35);
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
  background-color: white;
}

.generate_div h1{
  color: black;
  font-family: sans-serif;
  font-size: 24px;
  text-align: center;
}

.color_div{
  background-color: #E63946;
  height: 150px;
  width: 100%;
}

.color_name{
  padding: 10px;
  color: white;
  text-align: center;
  background-color: black;
}

.buttons{
  margin-top: 10px;
  display: flex;
  gap: 20px;
}

.buttons button{
  border: none;
  outline: none;
  background-color: cornflowerblue;
  border-radius: 4px;
  color: white;
}

#copy{
  background-color: brown;
}