#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main{
  display: flex;
  justify-content: center;
}

.container{
  width: 50vw;
  border:1px solid black;
  padding: 10px;
}

.buttons{
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}

.buttons button{
  font-size: 17px;
  border-radius: 6px;
  padding: 6px;
  width: 80px;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
}

.gallery img{
  width: 90px;
  object-fit: cover;
  height: 90px;
}